<!-- Site Search Module -->
<div class="site-search-module">
    <div class="container">
        <div class="site-search-module-inside">
            <%= simple_form_for(:q, url: realties_search_path) do |f| %>
                <div class="row">
                    <div class="col-md-2">
                        <%= f.input :deal, label: false, collection: @deal, label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, include_blank: false, prompt: t('search.placeholder.deal'), input_html: { name: "deal", class: 'input-lg selectpicker'} %>
                    </div>
                    <div class="col-md-3">
                        <%= f.input :realty_type, label: false, collection: @realty_type, label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, include_blank: false, prompt: t('search.placeholder.realty_type'), input_html: {name: 'realty_type', class: 'input-lg selectpicker'} %>
                    </div>
                    <div class="col-md-3">
                        <!-- TODO:Район -->
                    </div>
                    <div class="col-md-2">
                        <%= f.button :button, id: 'btn-search', class: 'btn-primary btn-block btn-lg' do %>
                            <%= fa_icon "search", text: t('search.title') %>
                        <% end %>
                    </div>
                    <div class="col-md-2">
                        <%= link_to (fa_icon "plus", text: t('home.extend_search_btn')), '#', id: 'ads-trigger', class: 'btn btn-default btn-block' %>
                    </div>
                </div>
                <div class="row hidden-xs hidden-sm">
                    <div class="col-md-2">
                        <%= f.input :r_min, label: 'Минимум комнат', required: false, collection: @rooms, input_html: { name: 'r_min', class: 'input-lg selectpicker'}, include_blank: false, prompt: t('search.placeholder.min') %>
                    </div>
                    <div class="col-md-2">
                        <%= f.input :r_max, label: 'Максимум комнат', required: false, collection: @rooms, input_html: { name: 'r_max', class: 'input-lg selectpicker'}, include_blank: false, prompt: t('search.placeholder.max') %>
                    </div>
                    <div class="col-md-2">
                        <%= f.input :price_min, label: 'Цена мин.', required: false, input_html: { name: 'price_min', class: 'input-lg'}, placeholder: t('search.placeholder.min') %>
                    </div>
                    <div class="col-md-2">
                        <%= f.input :price_max, label: 'Цена макс', required: false, input_html: { name: 'price_max', class: 'input-lg'}, placeholder: t('search.placeholder.max') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>