<!-- Site Search Module -->
<div class="site-search-module">
    <div class="container">
        <div class="site-search-module-inside">
            <%= search_form_for @q, url: search_realties_path, html: { method: :post } do |f| %>
                <div class="row">
                    <div class="col-md-2">
                        <%= f.input :deal_id_eq, label: false, collection: @deal, label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, include_blank: false, prompt: t('search.placeholder.deal'), input_html: {data: { style: 'btn-default' }, class: 'form-control-lg selectpicker'} %>
                    </div>
                    <div class="col-md-3">
                        <%= f.input :realty_type_id_eq, label: false, collection: @realty_type, label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, include_blank: false, prompt: t('search.placeholder.realty_type'), input_html: {data: { style: 'btn-default' },class: 'form-control-lg selectpicker'} %>
                    </div>
                    <div class="col-md-3">
                        <%= f.input :district_id_eq, label: false, collection: @districts, as: :grouped_select, group_method: :micro_districts, include_blank: false, prompt: 'Район', input_html: {data: { style: 'btn-default' }, class: 'form-control-lg selectpicker'} %>
                    </div>
                    <div class="col-md-2">
                        <%= f.button :button, id: 'btn-search', class: 'btn-primary btn-block' do %>
                            <%= fa_icon "search", text: t('search.title') %>
                        <% end %>
                    </div>
                    <div class="col-md-2">
                        <%= link_to (fa_icon "plus", text: t('home.extend_search_btn')), '#', id: 'ads-trigger', class: 'btn btn-default btn-block' %>
                    </div>
                </div>
                <div class="row hidden-xs hidden-sm">
                    <div class="col-md-4">
                        <label for="">Комнаты</label>
                    </div>
                    <div class="col-md-4">
                        <label for="">Цена</label>
                    </div>
                    <div class="col-md-4">
                        <label for="">Площадь</label>
                    </div>
                    <div class="col-md-2">
                        <%= f.input :room_count_gteq, label: false, required: false, collection: @rooms, input_html: { data: { style: 'btn-default' }, class: 'form-control-lg selectpicker'}, include_blank: true, prompt: t('search.placeholder.min') %>
                    </div>
                    <div class="col-md-2">
                        <%= f.input :room_count_lteq, label: false, required: false, collection: @rooms, input_html: { data: { style: 'btn-default' }, class: 'form-control-lg selectpicker'}, include_blank: true, prompt: t('search.placeholder.max') %>
                    </div>
                    <div class="col-md-2">
                        <%= f.input :price_value_gteq, label: false, required: false, input_html: {class: 'form-control-lg'}, placeholder: t('search.placeholder.min') %>
                    </div>
                    <div class="col-md-2">
                        <%= f.input :price_value_lteq, label: false, required: false, input_html: {class: 'form-control-lg'}, placeholder: t('search.placeholder.max') %>
                    </div>
                    <div class="col-md-2">
                        <%= f.input :area_total_gteq, label: false, required: false, input_html: {class: 'form-control-lg'}, placeholder: t('search.placeholder.min') %>
                    </div>
                    <div class="col-md-2">
                        <%= f.input :area_total_lteq, label: false, required: false, input_html: {class: 'form-control-lg'}, placeholder: t('search.placeholder.max') %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>