
<!-- Site Showcase -->
<div class="site-showcase">
    <div class="slider-mask overlay-transparent"></div>
    <!-- Start Hero Slider -->
    <div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">
        <ul class="slides">
            <% @random.each do |r| %>
                <%= render partial: 'base/slider_item', locals: {realty: r} %>
            <% end %>
        </ul>
    </div>
    <!-- End Hero Slider -->
    <%= render 'base/big_search' %>
</div>
<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="spacer-40"></div>
        <div class="container">
            <div class="row">
                <div class="property-columns clearfix" id="latest-properties-rent">
                    <div class="col-md-12">
                        <div class="block-heading">
                            <h4><span class="heading-icon"><%= fa_icon "leaf" %></span><%= "Свежие в разделе 'Аренда'" %></h4>
                            <%= link_to (fa_icon "long-arrow-right", text: t('home.view_more'), right: true), realties_search_path(deal: 2), class: 'btn btn-primary btn-sm pull-right' %>
                        </div>
                    </div>
                    <ul>
                        <% @rent_recent.each do |r| %>
                        <li class="col-md-4 col-sm-6 type-rent">
                            <%= render partial: 'realties/grid_block', locals: {realty: r} %>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <div class="property-columns clearfix" id="latest-properties-buy">
                    <div class="col-md-12">
                        <div class="block-heading">
                            <h4><span class="heading-icon"><%= fa_icon "leaf" %></span><%= "Свежие в разделе 'Продажа'" %></h4>
                            <%= link_to (fa_icon "long-arrow-right", text: t('home.view_more'), right: true), realties_search_path(deal: 1), class: 'btn btn-primary btn-sm pull-right' %>
                        </div>
                    </div>
                    <ul>
                        <% @buy_recent.each do |r| %>
                            <li class="col-md-4 col-sm-6 type-rent">
                                <%= render partial: 'realties/grid_block', locals: {realty: r} %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>