<div id="realties-search" class="widget sidebar-widget" data-turbolinks-permanent>
    <%=  content_tag(:h3, t('search.title'), class: 'widgettitle') %>
    <div class="full-search-form">
        <%= simple_form_for(:q, url: realties_search_path, method: 'get') do |f| %>
            <%= f.input :deal, label: false, collection: @deal, label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, selected: params[:deal], include_blank: false, prompt: t('search.placeholder.deal'), input_html: { name: "deal", class: 'input-lg selectpicker'} %>
            <%= f.input :realty_type, label: false, collection: @realty_type, label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, include_blank: false, prompt: t('search.placeholder.realty_type'), input_html: {name: 'realty_type', class: 'input-lg selectpicker'} %>
            <%= f.input :district, label: false, collection: @kiev_districts, as: :grouped_select, group_method: :micro_districts, include_blank: false, prompt: 'Район', input_html: {name: 'district', class: 'input-lg selectpicker'} %>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="">Количество комнат</label>
                </div>
                <%= f.input :r_min, label: false, collection: @rooms, input_html: { name: 'r_min', class: 'input-lg selectpicker'}, wrapper_html: {class: 'col-md-6 col-sm-6 col-xs-6'}, include_blank: false, prompt: t('search.placeholder.min') %>
                <%= f.input :r_max, label: false, collection: @rooms, input_html: { name: 'r_max', class: 'input-lg selectpicker'}, wrapper_html: {class: 'col-md-6 col-sm-6 col-xs-6'}, include_blank: false, prompt: t('search.placeholder.max') %>
                <div class="form-group col-md-12">
                    <label for="">Цена</label>
                </div>
                <%= f.input :price_min, label: false, input_html: { name: 'price_min', class: 'input-lg'}, wrapper_html: {class: 'col-md-6 col-sm-6 col-xs-6'}, placeholder: t('search.placeholder.min') %>
                <%= f.input :price_max, label: false, input_html: { name: 'price_max', class: 'input-lg'}, wrapper_html: {class: 'col-md-6 col-sm-6 col-xs-6'}, placeholder: t('search.placeholder.max') %>
            </div>
            <%= f.button :button, id: 'btn-search', class: 'btn-primary btn-block' do %>
                <%= fa_icon "search", text: t('search.title') %>
            <% end %>
            <%#= link_to (fa_icon "remove", text: 'Сбросить'), '#', id: 'btn-reset-search', class: 'btn btn-default btn-block' %>
        <% end %>
    </div>
</div>