<div id="realties-search" class="widget sidebar-widget" data-turbolinks-permanent>
    <%=  content_tag(:h3, t('search.title'), class: 'widgettitle') %>
    <div class="full-search-form">
        <%= search_form_for @q, url: search_realties_path, html: { method: :post } do |f| %>
            <%= f.input :deal_id_eq, label: false, collection: @deal, label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, selected: params[:deal], include_blank: false, prompt: t('search.placeholder.deal'), input_html: { class: 'input-lg selectpicker'} %>
            <%= f.input :realty_type_id_eq, label: false, collection: @realty_type, label_method: ->(obj){obj[:label]}, value_method: ->(obj){obj[:value]}, include_blank: false, prompt: t('search.placeholder.realty_type'), input_html: {class: 'input-lg selectpicker'} %>
            <%= f.input :district_id_eq, label: false, collection: @districts, as: :grouped_select, group_method: :micro_districts, include_blank: false, prompt: 'Район', input_html: {class: 'input-lg selectpicker'} %>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="">Количество комнат</label>
                </div>
                <%= f.input :room_count_gteq, label: false, collection: @rooms, input_html: {class: 'input-lg selectpicker'}, wrapper_html: {class: 'col-md-6 col-sm-6 col-xs-6'}, include_blank: true, prompt: t('search.placeholder.min') %>
                <%= f.input :room_count_lteq, label: false, collection: @rooms, input_html: {class: 'input-lg selectpicker'}, wrapper_html: {class: 'col-md-6 col-sm-6 col-xs-6'}, include_blank: true, prompt: t('search.placeholder.max') %>
                <div class="form-group col-md-12">
                    <label for="">Площадь</label>
                </div>
                <%= f.input :area_total_gteq, label: false, input_html: {class: 'input-lg'}, wrapper_html: {class: 'col-md-6 col-sm-6 col-xs-6'}, placeholder: t('search.placeholder.min') %>
                <%= f.input :area_total_lteq, label: false, input_html: {class: 'input-lg'}, wrapper_html: {class: 'col-md-6 col-sm-6 col-xs-6'}, placeholder: t('search.placeholder.max') %>
                <div class="form-group col-md-12">
                    <label for="">Цена</label>
                </div>
                <%= f.input :price_value_gteq, label: false, input_html: {class: 'input-lg'}, wrapper_html: {class: 'col-md-6 col-sm-6 col-xs-6'}, placeholder: t('search.placeholder.min') %>
                <%= f.input :price_value_lteq, label: false, input_html: {class: 'input-lg'}, wrapper_html: {class: 'col-md-6 col-sm-6 col-xs-6'}, placeholder: t('search.placeholder.max') %>
            </div>
            <%= f.button :button, id: 'btn-search', class: 'btn-primary btn-block' do %>
                <%= fa_icon "search", text: t('search.title') %>
            <% end %>
            <%= link_to (fa_icon "remove", text: 'Сбросить'), realties_path, id: 'btn-reset-search', class: 'btn btn-default btn-block' %>
        <% end %>
    </div>
</div>