<% provide(:title, @realty.title) %>
<div class="site-showcase">
    <!-- Start Google Map -->
    <div class="clearfix map-single-page" id="gmap"></div>
    <!-- End Google Map -->
</div>
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="single-property">
                        <%= content_tag(:h2, class: 'page-title') do %>
                            <%= @realty.strip_title %>
                            <%= content_tag(:span, @realty.city, class: 'location') %>
                        <% end %>
                        <div class="price"><%= content_tag(:strong, currency_symbol(@realty)) + content_tag(:span, formatted_price(@realty)) %></div>
                        <% if @realty.commission == 0 %>
                            <div class="commission"><strong>%</strong><span>Без комиссии</span></div>
                        <% end %>
                        <div class="date"><%= fa_icon "calendar-o", text: creation_date(@realty) %></div>
                        <div class="property-amenities clearfix">
                            <span class="area"><%= content_tag(:strong, @realty.deal.name) %></span>
                            <span class="baths"><%= content_tag(:strong, @realty.realty_type.name) %></span>
                            <span class="area"><%= content_tag(:strong, area_all(@realty)) %><%= "м<sup>2</sup>".html_safe %></span>
                            <span class="beds"><%= content_tag(:strong, @realty.floor) %><%= t('activerecord.attributes.realty.floor') %></span>
                            <span class="parking"><%= content_tag(:strong, @realty.room_count) %><%= room_count_label(@realty) %></span>
                        </div>
                        <div class="property-slider">
                            <% if @realty.images.present? %>
                                <div id="property-images" class="flexslider">
                                    <div class="slides">
                                        <% @realty.images.each do |img| %>
                                            <a href="<%= img.url %>" data-rel="prettyPhoto[gallery]" class="item" style="background-image: url(<%= img.url %>); min-height: 460px;"></a>
                                        <% end %>
                                    </div>
                                </div>
                                <div id="property-thumbs" class="flexslider">
                                    <ul class="slides">
                                        <% @realty.images.each do |img| %>
                                            <li class="item" style="background-image: url(<%= img.url %>); min-height: 117px; cursor: pointer"></li>
                                        <% end %>
                                    </ul>
                                </div>
                            <% else %>
                                <%= image_tag "fallback/show_post_placeholder.jpg", class: 'img-responsive img-rounded' %>
                            <% end %>
                        </div>
                    </div>
                    <%= content_tag(:h3, t('realties.amenities')) %>
                    <hr>
                    <section id="area" class="counters padding-tb45 accent-color text-align-center">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="fact-ico">
                                        <%= image_tag "icons/002-apartment.png" %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timer">
                                        <%= content_tag(:span, "#{number_with_precision(@realty.area_total, strip_insignificant_zeros: true)} м<sup>2</sup>".html_safe , class: 'count') %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <%= content_tag(:span, t('activerecord.attributes.realty.area_total.long'), class: 'fact') %>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="fact-ico">
                                        <%= image_tag "icons/003-bed.png" %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timer">
                                        <%= content_tag(:span, "#{number_with_precision(field_present?(@realty.area_living), strip_insignificant_zeros: true)} м<sup>2</sup>".html_safe , class: 'count') %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <%= content_tag(:span, t('activerecord.attributes.realty.area_living'), class: 'fact') %>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="fact-ico">
                                        <%= image_tag "icons/004-kitchen.png" %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timer">
                                        <%= content_tag(:span, "#{number_with_precision(field_present?(@realty.area_kitchen), strip_insignificant_zeros: true)} м<sup>2</sup>".html_safe , class: 'count') %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <%= content_tag(:span, t('activerecord.attributes.realty.area_kitchen'), class: 'fact') %>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="fact-ico">
                                        <%= image_tag "icons/001-stairs.png" %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timer">
                                        <%= content_tag(:span, "#{@realty.floor}/#{field_present?(@realty.total_floors)}".html_safe , class: 'count') %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <%= content_tag(:span, t('activerecord.attributes.realty.floor'), class: 'fact') %>
                                </div>
                            </div>
                    </section>
                    <hr>
                    <div id="amenities">
                        <div class="additional-amenities">
                            <% unless @realty.gas.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.gas")) %>
                                    <%= content_tag(:span, @realty.gas ? "да" : "нет", class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.ceiling_height.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.ceiling_height")) %>
                                    <%= content_tag(:span, @realty.ceiling_height, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.bedroom_count.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.bedroom_count")) %>
                                    <%= content_tag(:span, @realty.bedroom_count, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.wall_material.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.wall_material")) %>
                                    <%= content_tag(:span, @realty.wall_material, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.renovation.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.renovation")) %>
                                    <%= content_tag(:span, @realty.renovation, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.bathroom_count.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.bathroom_count")) %>
                                    <%= content_tag(:span, @realty.bathroom_count, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.planing.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.planing")) %>
                                    <%= content_tag(:span, @realty.planing, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.realty_class.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.realty_class")) %>
                                    <%= content_tag(:span, @realty.realty_class, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.room_schema.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.room_schema")) %>
                                    <%= content_tag(:span, @realty.room_schema, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.year.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.year")) %>
                                    <%= content_tag(:span, @realty.year, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.balcony_count.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.balcony_count")) %>
                                    <%= content_tag(:span, @realty.balcony_count, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.windows.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.windows")) %>
                                    <%= content_tag(:span, @realty.windows, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.ownership.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.ownership")) %>
                                    <%= content_tag(:span, @realty.ownership, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.ceiling_material.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.ceiling_material")) %>
                                    <%= content_tag(:span, @realty.ceiling_material, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.entrance.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.entrance")) %>
                                    <%= content_tag(:span, @realty.entrance, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.plumbing.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.plumbing")) %>
                                    <%= content_tag(:span, @realty.plumbing, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                            <% unless @realty.purpose.nil? %>
                                <span class="ameniti">
                                    <%= content_tag(:strong, t("activerecord.attributes.realty.purpose")) %>
                                    <%= content_tag(:span, @realty.purpose, class: 'ameniti-value') %>
                                </span>
                            <% end %>
                        </div>
                    </div>
                </div>
                <!-- Start Sidebar -->
                <div class="sidebar right-sidebar col-md-4">
                    <div id="agent" class="widget">
                        <%= content_tag(:h3, t('activerecord.attributes.realty.agent'), class: 'widgettitle') %>
                        <div class="agent">
                            <%= content_tag(:h4, @realty.user.firstName) %>
                            <div class="agent-contacts clearfix">
                                <ul>
                                    <li><%= mail_to @realty.user.email, (fa_icon "envelope", text: @realty.user.email) %></li>
                                    <% @realty.user.phones.each do |phone| %>
                                        <li><%= link_to (fa_icon "phone", text: phone.number), "tel:#{phone.number}" %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% unless @realty.description.blank? %>
                    <div class="widget">
                        <%= content_tag(:h3, t('activerecord.attributes.realty.description'), class: 'widgettitle') %>
                        <%= content_tag(:div, @realty.description.html_safe.capitalize, id: 'description') %>
                    </div>
                    <% end %>
                    <div class="widget">
                        <%= content_tag(:h3, t('activerecord.attributes.realty.address'), class: 'widgettitle') %>
                        <div id="address" data-lat="<%= @realty.map_lat %>" data-lng="<%= @realty.map_lng %>">
                            <ul>
                                <li><%= content_tag(:strong, "#{t('activerecord.attributes.realty.city')}: ") %><%= content_tag(:span, @realty.city) %></li>
                                <li><%= content_tag(:strong, "#{t('activerecord.attributes.realty.district')}: ") %><%= content_tag(:span, @realty.district, class: 'available') %></li>
                                <li><%= content_tag(:strong, "#{t('activerecord.attributes.realty.street')}: ") %><%= content_tag(:span, @realty.street, class: 'available') %></li>
                                <li><%= content_tag(:strong, "#{t('activerecord.attributes.realty.house_num')}: ") %><%= content_tag(:span, @realty.house_num, class: 'available') %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% content_for :map do %>
    <%= render 'realties/map' %>
<% end %>