<% provide(:title, @realty[:title]) %>
<div class="site-showcase">
    <!-- Start Google Map -->
    <div class="clearfix map-single-page" id="gmap"></div>
    <!-- End Google Map -->
</div>
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="single-property">
                        <%= content_tag(:h2, class: 'page-title') do %>
                            <%= strip_title(@realty) %>
                            <%= content_tag(:span, @realty[:location].fetch(:city).fetch(:label), class: 'location') %>
                        <% end %>
                        <div class="price"><%= set_price(@realty) %></div>
                        <% if @realty[:commission] %>
                            <div class="commission"><strong>%</strong><span>Без комиссии</span></div>
                        <% end %>
                        <div class="date"><%= fa_icon "calendar-o", text: creation_date(@realty) %></div>
                        <div class="property-amenities clearfix">
                            <span class="area"><%= content_tag(:strong, get_deal_type(@realty)) %></span>
                            <span class="baths"><%= content_tag(:strong, get_realty_type(@realty)) %></span>
                            <span class="area"><%= content_tag(:strong, "#{@realty[:area_total]}/#{@realty[:area_living]}/#{@realty[:area_kitchen]}") %><%= "м<sup>2</sup>".html_safe %></span>
                            <span class="beds"><%= content_tag(:strong, @realty.fetch(:floor)) %><%= t('activerecord.attributes.realty.floor') %></span>
                            <span class="parking"><%= content_tag(:strong, @realty.fetch(:room_count)) %><%= room_count_label(@realty) %></span>
                        </div>
                        <div class="property-slider">
                            <% if !@realty[:images].blank? %>
                                <div id="property-images" class="flexslider">
                                    <div class="slides">
                                        <% @realty[:images].each do |img| %>
                                            <a href="<%= img %>" data-rel="prettyPhoto[gallery]" class="item" style="background-image: url(<%= img %>); min-height: 460px;"></a>
                                        <% end %>
                                    </div>
                                </div>
                                <div id="property-thumbs" class="flexslider">
                                    <ul class="slides">
                                        <% @realty[:images].each do |img| %>
                                            <li class="item" style="background-image: url(<%= img %>); min-height: 117px; cursor: pointer"></li>
                                        <% end %>
                                    </ul>
                                </div>
                            <% else %>
                                <%= image_tag "fallback/show_post_placeholder.jpg", class: 'img-responsive img-rounded' %>
                            <% end %>
                        </div>
                    </div>
                    <%= content_tag(:h3, t('realties.amenities')) %>
                    <hr>
                    <section id="area" class="counters padding-tb45 accent-color text-align-center">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="fact-ico">
                                        <%= image_tag "icons/002-apartment.png" %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timer">
                                        <%= content_tag(:span, "#{@realty[:area_total]} м<sup>2</sup>".html_safe , class: 'count') %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <%= content_tag(:span, t('activerecord.attributes.realty.area_total.long'), class: 'fact') %>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="fact-ico">
                                        <%= image_tag "icons/003-bed.png" %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timer">
                                        <%= content_tag(:span, "#{@realty[:area_living]} м<sup>2</sup>".html_safe , class: 'count') %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <%= content_tag(:span, t('activerecord.attributes.realty.area_living'), class: 'fact') %>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="fact-ico">
                                        <%= image_tag "icons/004-kitchen.png" %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timer">
                                        <%= content_tag(:span, "#{@realty[:area_kitchen]} м<sup>2</sup>".html_safe , class: 'count') %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <%= content_tag(:span, t('activerecord.attributes.realty.area_kitchen'), class: 'fact') %>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="fact-ico">
                                        <%= image_tag "icons/001-stairs.png" %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="timer">
                                        <%= content_tag(:span, "#{@realty[:floor]}/#{@realty[:total_floors]}".html_safe , class: 'count') %>
                                    </div>
                                    <div class="clearfix"></div>
                                    <%= content_tag(:span, t('activerecord.attributes.realty.floor'), class: 'fact') %>
                                </div>
                            </div>
                    </section>
                    <hr>
                    <div id="amenities">
                        <div class="additional-amenities">
                            <% @realty[:properties].each do |key, prop| %>
                                <% if key == "property_39" or key == "property_41" or key == "property_26" or key == "property_40" %>
                                    <% next %>
                                <% else %>
                                    <span class="ameniti">
                                        <%= content_tag(:strong, "#{t("activerecord.attributes.realty.#{key}")}: ".html_safe) %>
                                        <%= content_tag(:span, prop[:value], class: 'ameniti-value') %>
                                    </span>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <!-- Start Sidebar -->
                <div class="sidebar right-sidebar col-md-4">
                    <div id="agent" class="widget">
                        <%= content_tag(:h3, t('activerecord.attributes.realty.agent'), class: 'widgettitle') %>
                        <div class="agent">
                            <%= content_tag(:h4, @realty.fetch(:user).fetch(:name)) %>
                            <div class="agent-contacts clearfix">
                                <ul>
                                    <li><%= mail_to @realty.fetch(:user).fetch(:email), (fa_icon "envelope", text: @realty.fetch(:user).fetch(:email)) %></li>
                                    <% @realty.fetch(:user).fetch(:phones).each do |phone| %>
                                        <li><%= link_to (fa_icon "phone", text: phone), "tel:#{phone}" %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% unless @realty[:description].blank? %>
                    <div class="widget">
                        <%= content_tag(:h3, t('activerecord.attributes.realty.description'), class: 'widgettitle') %>
                        <%= content_tag(:div, @realty[:description].html_safe.capitalize, id: 'description') %>
                    </div>
                    <% end %>
                    <div class="widget">
                        <%= content_tag(:h3, t('activerecord.attributes.realty.address'), class: 'widgettitle') %>
                        <div id="address" data-lat="<%= @realty[:location].fetch(:map_lat) %>" data-lng="<%= @realty[:location].fetch(:map_lng) %>">
                            <ul>
                                <li><%= content_tag(:strong, "#{t('activerecord.attributes.realty.city')}: ") %><%= content_tag(:span, @realty[:location].fetch(:city).fetch(:label)) %></li>
                                <li><%= content_tag(:strong, "#{t('activerecord.attributes.realty.district')}: ") %><%= content_tag(:span, @realty[:location].fetch(:district).fetch(:label), class: 'available') %></li>
                                <li><%= content_tag(:strong, "#{t('activerecord.attributes.realty.street')}: ") %><%= content_tag(:span, @realty[:location].fetch(:street).fetch(:label), class: 'available') %></li>
                                <li><%= content_tag(:strong, "#{t('activerecord.attributes.realty.house_num')}: ") %><%= content_tag(:span, @realty[:location].fetch(:house_num), class: 'available') %></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% content_for :map do %>
    <%= render 'realties/map' %>
<% end %>