<%= simple_form_for [:administrator, @realty] do |f| %>
  <div class="row align-items-center">
    <div class="col-6">
      <%= f.input :title %>
    </div>
    <div class="col-2">
      <%= f.input :active %>
    </div>
    <div class="col-4">
      <%= f.input :commission %>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <hr>
      <div class="row">
        <div class="col">
          <%= f.input :room_count %>
        </div>
        <div class="col">
          <%= f.input :price_value %>
        </div>
        <div class="col">
          <%= f.input :price_currency %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <%= f.input :area_living %>
        </div>
        <div class="col">
          <%= f.input :area_kitchen %>
        </div>
        <div class="col">
          <%= f.input :area_total %>
        </div>
      </div>
      <hr>
      <div class="row align-items-center">
        <div class="col-5">
          <%= f.input :is_new_building %>
        </div>
        <div class="col-7">
          <%= f.input :total_floors, wrapper: :horizontal_form %>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col">
          <%= f.input :slug do %>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">/</div>
              </div>
              <%= f.input_field :slug, class: 'form-control' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.association :user, collection: User.all, label_method: :fullname %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.association :realty_type, collection: RealtyType.all, include_blank: false %>
        </div>
        <div class="col">
          <%= f.association :deal, collection: Deal.all, include_blank: false %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <%= f.association :region, collection: Region.all, include_blank: false %>
        </div>
        <div class="col">
          <%= f.association :city, collection: City.all, include_blank: false %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.association :district, collection: District.where(city_id: 10, parent_district_id: nil), as: :grouped_select, group_method: :micro_districts, include_blank: false %>
        </div>
        <div class="col">
          <%= f.input :street %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.input :house_num %>
        </div>
        <div class="col">
          <%= f.input :floor %>
        </div>
        <div class="col">
          <%= f.input :apartment %>
        </div>
      </div>
      <hr>
      <%= f.input :description, input_html: {rows: 6} %>
      <hr>
      <%= content_tag(:h4, 'Дополнительные параметры') %>
      <div class="row align-items-center">
        <div class="col-2">
          <%= f.input :gas %>
        </div>

        <div class="col-3">
          <%= f.input :exclusive %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= f.input :bedroom_count %>
        </div>
        <div class="col-4">
          <%= f.input :ceiling_height %>
        </div>
        <div class="col-4">
          <%= f.input :wall_material %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= f.input :renovation %>
        </div>
        <div class="col-4">
          <%= f.input :bathroom_count %>
        </div>
        <div class="col-4">
          <%= f.input :planing %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= f.input :realty_class %>
        </div>
        <div class="col-4">
          <%= f.input :room_schema %>
        </div>
        <div class="col-4">
          <%= f.input :year %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= f.input :balcony_count %>
        </div>
        <div class="col-4">
          <%= f.input :windows %>
        </div>
        <div class="col-4">
          <%= f.input :ownership %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <%= f.input :ceiling_material %>
        </div>
        <div class="col-4">
          <%= f.input :entrance %>
        </div>
        <div class="col-4">
          <%= f.input :plumbing %>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <div class="btn-group btn-group-lg pull-right">
        <%= f.button :button, class: 'btn-success' %>
        <%= link_to 'Удалить', '#', class: 'btn btn-danger' %>
        <%= link_to 'Отменить', :back, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
<% end %>