<div class="row">
    <div class="col-md-4">
        <div class="card card-default bg-complete">
            <div class="card-header ">
                <%= content_tag(:div, t('admin.widgets.realties.in_db.title'), class: 'card-title text-white') %>
                <div class="card-controls">
                    <ul>
                        <li>
                            <%= link_to '#', data: {toggle: 'refresh'}, class: 'card-refresh' do %>
                                <%= content_tag(:i, '', class: 'card-icon card-icon-refresh') %>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <h3 class="text-white"><%= content_tag(:span, Realty.all.count, class: 'semi-bold') %></h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-default bg-success">
            <div class="card-header ">
                <%= content_tag(:div, t('admin.widgets.realties.active.title'), class: 'card-title text-white') %>
                <div class="card-controls">
                    <ul>
                        <li>
                            <%= link_to '#', data: {toggle: 'refresh'}, class: 'card-refresh' do %>
                                <%= content_tag(:i, '', class: 'card-icon card-icon-refresh') %>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <h3 class="text-white"><%= content_tag(:span, Realty.where(active: true).count, class: 'semi-bold') %></h3>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="card card-transparent">
            <div class="card-header">
                <%= content_tag(:div, t('admin.titles.control'), class: 'card-title') %>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card b-complete full-height">
                            <div class="card-block">
                                <h3><%= content_tag(:span, t('admin.titles.realties.import_db')) %></h3>
                                <hr>
                                <%= content_tag(:p, t('admin.hints.realties.import_db').html_safe) %>
                                <div class="action">
                                    <%= link_to t('admin.buttons.realties.import_db'), administrator_realties_db_import_path, remote: true, class: 'btn btn-complete btn-lg' %>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card b-danger full-height">
                            <div class="card-block">
                                <h3><%= content_tag(:span, t('admin.titles.realties.clean_db')) %></h3>
                                <hr class="b-danger">
                                <%= content_tag(:p, t('admin.hints.realties.clean_db').html_safe) %>
                                <div class="action">
                                    <%= link_to t('admin.buttons.realties.clean_db'), administrator_realties_db_import_path, remote: true, class: 'btn btn-danger btn-lg' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        // Apply the plugin to the body
        $('body').pgNotification({
            style: 'flip',
            message: 'Test alert!',
            position: 'top-right',
            type: 'warning',
            showClose: true,
            timeout: 0
        }).show();
    });
</script>
<% end %>