<ul>
    <% @regions.each do |region| %>
    <li><h1><%= region.name %></h1></li>
        <ul>
            <% region.cities.each do |city| %>
            <li><h3><%= city.name %></h3></li>
                <ul>
                    <% city.districts.each do |district| %>
                        <li><h5><%= district.name %></h5></li>
                        <ul>
                            <%= district.micro_districts.each do |micro| %>
                                <li><h6><%= micro.name %></h6></li>
                            <% end %>
                        </ul>
                    <% end %>
                </ul>
            <% end %>
        </ul>
    <% end %>
</ul>