<!DOCTYPE html>
<html lang="<%= I18n.default_locale %>">
<head>
  <meta charset="utf-8">
  <title><%= full_title(yield(:title)) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= display_meta_tags noindex: true %>
  <%= display_meta_tags nofollow: true %>
  <%= render 'application/favicon' %>
  <%= csp_meta_tag %>
  <%= csrf_meta_tags %>
  <%= stylesheet_pack_tag 'administrator' %>
  <%= javascript_pack_tag 'administrator' %>
</head>
<body class="fix-header fix-sidebar card-no-border">
  <%#= render 'administrator/preloader' %>
  <div id="main-wrapper">
    <%= render 'administrator/topbar' %>
    <%= render 'administrator/sidebar_left' %>
    <div class="page-wrapper">
      <%= render 'administrator/breadcrumbs' %>
      <div class="container-fluid">
        <%= yield %>
        <%= render 'administrator/sidebar_right' %>
      </div>
      <%= render 'administrator/footer' %>
    </div>
  </div>
</body>
</html>