<!DOCTYPE html>
<html lang="<%= I18n.default_locale %>">
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <%= yield :caching %>
        <%= render 'application/favicon' %>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body class="home">
        <div class="body">
            <%= render 'layouts/header' %>
            <%= yield %>
            <%= render 'layouts/footer' %>
        </div>
        <%= yield :map %>
    </body>
</html>
